.navbar {
    height: 60px;
    margin: 0;
    left: 0;
    background-color: #8B0000 ;
    display: flex;
    flex: row;
    overflow: hidden;
    position: relative;
}

.navContainer {
    display: flex;
    align-items: center;
}


.navImg {
    margin-left: 80px ;
    margin-bottom: 15px;
    max-width: 150px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 60px;
    position: absolute;
    right: 300px;
}


.navLinks a {
    color: rgba(0, 0, 0, 0.814);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 4px;
    margin: 0px 10px;
    transition: .8s;
}

.navLinks a:hover {
    color: #805151;
    border-radius: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

