.background{
    background-image: url('../assets/img/Kanto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 98.7vw;
    height: 111vh;
    padding: 10px;
}