.background{
    background-image: url('../assets/img/Kanto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 98.7vw;
    height: 120vh;
    padding: 10px;
}

@media (max-width: 500px){
    .background{
        width: 95.1vw;
        height: 140vh;
    }  
}