.bkgd{    
  background-image: url('../assets/img/Lab.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 98.7vw;
  height: 100vh;
  padding: 10px;
}

.iniciales {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    justify-content: space-around;

  }

  .iniciales h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .poke {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 20px 35px 200px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
  }
  
  
  
  .pokemon-0 {
    background: #dd1818; 
    background: -webkit-linear-gradient(200deg,  #dd1818 , #333333); 
    background: linear-gradient(200deg, #dd1818, #333333); 
    padding: 10px;
    
  }
    
  .pokemon-0 button {
    padding: 10px 10px;
    background-color: #dd1818; 
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }

    
  .background-4 {
    background: #dd1818; 
    background: -webkit-linear-gradient(200deg,  #dd1818 , #333333); 
    background: linear-gradient(200deg, #dd1818, #333333); 
    padding: 40px;
    height: 100vh;
  }

  .pokemon-1 {
    background: #2980B9;  
background: -webkit-linear-gradient(400deg, #FFFFFF, #6DD5FA, #2980B9);  
background: linear-gradient(400deg, #FFFFFF, #6DD5FA, #2980B9); 
  }

  .pokemon-1 button {
    padding: 10px 10px;
    background-color: #2980B9; 
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }
  
  .background-258 {
    background: #2980B9;  
background: -webkit-linear-gradient(400deg, #FFFFFF, #6DD5FA, #2980B9);  
background: linear-gradient(400deg, #FFFFFF, #6DD5FA, #2980B9); 
padding: 40px;
    height: 100vh;
  }



  .pokemon-2 {
    background: #6be585;  
background: -webkit-linear-gradient(200deg, #11998e, #6be585);  
background: linear-gradient(400deg, #11998e, #6be585); 
  }

  .pokemon-2 button {
    padding: 10px 10px;
    background-color: #6be585; 
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }
  
    .background-810 {
      background: #6be585;  
      background: -webkit-linear-gradient(200deg, #11998e, #6be585);  
      background: linear-gradient(400deg, #11998e, #6be585); 
      padding: 40px;
    height: 100vh;
  }
  

  .pokeCont{
    font-size: 20px;
  }



  /*RESPONSIVIDAD CELULAR*/


  @media (max-width: 1000px) {

    .iniciales {
      margin-top: 300px;
      font-size: 15px;
    }
  
  }
  @media (max-width: 700px) {

    .bkgd{    

      width: 97.3vw;

    }
    .iniciales {
      flex-direction: column;
      margin-top: 90px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
      width: 210px;
      font-size: 10px;
      
    }
  
    .poke {
      width: 70px;
      height: 70px;
      margin-right: 10px;
      margin-bottom: 10px;
      
    }
    .info{
      margin-bottom: 20px;
    }
    .pokemon-0 button,
    .pokemon-1 button,
    .pokemon-2 button {
      width: 140px;
      height: 50px;
    }


  .imgElegido{
    width: 300px;
    margin-left: 40px;

  }

  .background-258, .background-810, .background-4{
    height: 800px;
  }

  .pokeCont{
    margin-top: 60px;
  }
  }